@charset "utf-8";
/*==================Reset_start===================*/
*{margin: 0; padding: 0;}
html,body{font-family: "微软雅黑","宋体",Arail,Tabhoma; font-size: 14px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
/***************************************自行添加****************************************/
.all{
	width: 100%;
	min-width: 1100px;
	background: #fff;
}
.all .top{
	width: 1100px;
	margin: 0 auto;
}
.all .top .first{
	line-height: 70px;
	padding-top: 20px;
	overflow: hidden;
}
.all .top .first a{
	float: left;
	width: 190px;
	height: 60px;
	border-right: 1px solid #F0E0D0;
}
.all .top .first .span1{
	float: left;
	margin-left: 15px;
}
.all .top .first .span2{
	float: right;
}
.all .top .first .span3{
	float: right;
	margin-right: 20px;
}
.all .top .first .span4{
	float: right;
	margin-right: 20px;
}
.all .title{
	width: 100%;
	min-width: 1100px;
	background: #FFB400;
}
.all .title .second{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.all .title .second .span1{
	line-height: 45px;
	letter-spacing: 5px;
	float: left;
}
.all .title .second .span2{
	float: left;
	width: 97px;
	line-height: 28px;
	text-align: center;
	background: #fff;
	border-radius: 15px;
	margin: 8px 17px;
}
.all .title .second .span2 a{
	font-size: 15px;
	color: #FFA200;
}
.all .title .second .span3{
	float: left;
	line-height: 45px;
}
.all .title .second .span1 a,.all .title .second .span3 a{
	color: #fff;
	font-size: 15px;
}
.all .title .second .span4{
	float: right;
	font-size: 13px;
	line-height: 45px;
	color: #fff;
	font-style: italic;
	margin-right: 2px;
}
.all .title .second .img1{
	float: right;
	margin-top: 2px;
}
.all .title .second .span5{
	float: right;
	line-height: 45px;
	margin-right: 23px;
	color: #fff;
	font-style: italic;
	font-size: 18px;
}
.all .title .second .img2{
	float: right;
	margin-top: 8px;
}
.all .title .second .span6{
	float: right;
	line-height: 45px;
	color: #fff;
	font-size:15px; 
	margin-right: 10px;
}
.all .img img{
	width: 100%;
	display: block;
}
/******************************内容*****************************/
.all .con{
	width: 1100px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}
.all .con .left{
	float: left;
	width: 200px;
	height: 742px;
	background: #EFEFEF;
	overflow: hidden;	
}
.all .con .left .one{
	width: 200px;
	height: 18px;
}
.all .con .left .two{
	width: 200px;
	line-height: 60px;
	border-top: 1px solid #fff;
	text-align: center;
}
.all .con .left .two a{
	font-size: 18px;
	color: #7B7B7B;
}
.all .con .left .three{
	float: right;
	width: 183px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #ccc;
}
.all .con .left .three a{
	color: #DA590D;
}
.all .con .right{
	margin-top: 50px;
	margin-left: 50px;
	width: 847px;
	float: right;
	overflow: hidden;
}
.all .con .right1{
	width: 847px;
	float: right;
	border:1px solid #D0D0D0;
	overflow: hidden;
}
.all .con .right1 div{
	width: 211px;
	height: 144px;
}
.all .con .right1 .picture1{
	width: 211px;
	height: 144px;
	background: #9ED5B3;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	float: left;
}
.all .con .right1 .picture2{
	float: left;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
.all .con .right1 .picture3{
	width: 211px;
	height: 144px;
	background: #F6F6F6;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	float: left;
}
.all .con .right1 .picture4{
	float: left;
	border-bottom: 1px solid #D0D0D0;
}
.all .con .right1 .picture5{
	float: left;
	border-right: 1px solid #D0D0D0;
}
.all .con .right1 .picture6{
	float: left;
	border-right: 1px solid #D0D0D0;
}
.all .con .right1 .picture7{
	float: left;
	border-right: 1px solid #D0D0D0;
}
.all .con .right1 .picture8{
	width: 211px;
	height: 144px;
	background: #FF7B2D;
	float: left;
}
.all .con .right .right2 p{
	float: right;
	margin-top: 30px;
	font-size: 14px;
	color: #6C6C6C;
	line-height: 24px;
}
/*<!--********************* 底部 *************************-->*/
.all .footer{
	width: 100%;
	background: url(../images/tu.jpg)0 0 repeat-x;
}
.all .footer .one{
	width: 1102px;
	margin: 0 auto;
	position: relative;
}
.all .footer .first{
	width: 100%;
	min-width: 1100px;
	background: #FF8A00;
}
.all .footer .first .con{
	width: 1100px;
	padding-top: 28px;
	padding-bottom: 9px;
	margin: 0 auto;
	background: #FF8A00;
	overflow: hidden;
}
.all .footer .first .con .logo{
	float: left;
}
.all .footer .first .con .phone{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
}
.all .footer .first .con .p{
	float: left;
	color: #fff;
	font-style: italic;
	margin-top: 7px;
	margin-left: 7px;
}
.all .footer .first .con .p .p1{
	font-size: 14px;
}
.all .footer .first .con .p .p2{
	font-size: 25px;
}
.all .footer .first .con .text{
	float: right;
	color: #fff;
	margin-right: 160px;
}
.all .footer .first .con .text .p1{
	font-size: 30px;
}
.all .footer .first .con .text .p2{
	font-size: 13px;
}
.all .footer .second{
	width: 100%;
	min-width: 1100px;
	background: #FDB911;
}
.all .footer .second .con{
	width: 1100px;
	margin: 0 auto;
	line-height: 47px;
	background: #FDB911;
	overflow: hidden;
	font-size: 12px;
}
.all .footer .second .con .span1{
	line-height: 12px;
	padding-right: 11px;
}
.all .footer .second .con .span2,.all .footer .second .con .span3,.all .footer .second .con .span4{
	line-height: 12px;
	padding: 0px 11px;
	border-left: 1px solid #61401C;
}
.all .footer .second .con a{
	color: #61401C;
}
.all .footer .second .con .span5{
	float: right;
	font-size: 12px;
	margin-right: 160px;
	color: #61401C;
}
.all .footer .second .con .span6{
	float: right;
	font-size: 12px;
	margin-right: 15px;
	color: #61401C;
}
.all .footer .third{
	position: absolute;
	right: 0px;
	bottom: 8px;
}